.bg-images {
  margin-top:-25px;
  background: rgb(202,245,144);
  background: linear-gradient(317deg, rgba(202,245,144,1) 0%, rgba(13,221,9,1) 15%, rgba(13,153,37,1) 29%, rgba(20,123,41,1) 42%, rgba(8,87,41,1) 55%, rgba(6,37,47,1) 81%, rgba(0,0,0,1) 100%);
}

.text-dark-success{
  color:rgb(4, 33, 9);
  font-style:bold;
}